<div class="mt-4">
  <div class="h5 mb-4">
    <strong>ALL TICKETS</strong>
  </div>
  <div class="card mb-2">
      <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th>Index</th> -->
                <th class="text-center">Bug Id</th>
                <th class="text-center">Subject</th>
                <th class="text-center">Reported By</th>
                <th class="text-center">Assigned To</th>
                <th class="text-center">Assigned Date</th>
                <th class="text-center">Priority</th>
                <th class="text-center">Status</th>
                <th class="text-center">Comments</th>
                <th class="text-center">Available Action</th>
                <th><span class="mr-2 ml-1">
                    <button class="btn btn-outline-primary btn-sm pull-right mr-1 add" type="button"><i class="fa fa-plus" (click)="add();"></i>
                    </button>
                </span></th>
              </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let item of tickets; let i = index">
                        <!-- <td class="text-center">
                            <span>{{i+1}}</span>
                        </td> -->
                        <td class="text-center">
                            <span>{{item.BugId}}</span>
                        </td>
                        <td class="text-center" *ngIf="editRowId !== item.BugId">
                            {{item.Subject}}
                        </td>
                        <td class="text-center" *ngIf="editRowId == item.BugId">
                            <input type="text" [(ngModel)]="item.Subject" value="item.Subject" />
                        </td>
                        <td  class="text-center" *ngIf="editRowId !== item.BugId">
                            {{item.ReportedBy}}
                        </td>
                        <td class="text-center" *ngIf="editRowId == item.BugId">
                            <input type="text" [(ngModel)]="item.ReportedBy" value="item.Subject" />
                        </td>
                        <td  class="text-center" *ngIf="editRowId !== item.BugId">
                          {{item.AssignedTo}}
                        </td>
                        <td class="text-center" *ngIf="editRowId == item.BugId">
                            <input type="text" [(ngModel)]="item.AssignedTo" value="item.AssignedTo" />
                        </td>
                        <td  class="text-center">
                            {{item.CreatedOn|date}}
                          </td>
                          <td  class="text-center" *ngIf="editRowId !== item.BugId">
                              {{item.Priority}}
                            </td>
                            <td class="text-center" *ngIf="editRowId == item.BugId">
                                <input type="text" [(ngModel)]="item.Priority" value="item.Priority" />
                            </td>
                            <td  class="text-center" *ngIf="editRowId !== item.BugId">
                                {{item.Status}}
                              </td>
                              <td class="text-center" *ngIf="editRowId == item.BugId">
                                  <input type="text" [(ngModel)]="item.Status" value="item.Status" />
                              </td>
                              <td  class="text-center" *ngIf="editRowId !== item.BugId">
                                  {{item.Comments}}
                                </td>
                                <td class="text-center" *ngIf="editRowId == item.BugId">
                                    <input type="text" [(ngModel)]="item.Comments" value="item.Comments" />
                                </td>
                        <td class="text-center">
                          <span>
                              <button class="btn btn-outline-danger btn-sm pull-right mr-1 delete" type="button" (click)="delete(i);delete=true;">
                                 <i class="fa fa-trash"></i>
                              </button>
                              <span>
                                  <button class="btn btn-outline-warning btn-sm pull-right mr-1 edit" type="button"><i class="fa fa-pencil" (click)="edit(i);"></i>
                                  </button>
                              </span>
                          </span>                         
                       </td>
                </tbody>
          </table>
          <div class="col-sm-12">
              <button class="btn btn-primary pull-right" (click)="save()">Save</button>
          </div>
      </div>
    </div>
    
</div>
