<div class="container-fluid sidebar">
  <div class="row" style="height:auto">
      <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
          <div class="list-group panel">
              <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                <i class="fa fa-dashboard mr-2"></i> <span class="hidden-sm-down">All unsolved tickets</span> </a>
              <div class="collapse" id="menu1">
                  <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
                  <div class="collapse" id="menu1sub1">
                      <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
                      <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
                      <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
                      <div class="collapse" id="menu1sub1sub1">
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
                      </div>
                      <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
                      <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse"  aria-expanded="false">Subitem 5 e </a>
                      <div class="collapse" id="menu1sub1sub2">
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                          <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
                      </div>
                  </div>
                  <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
                  <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
              </div>
              <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film mr-2"></i> <span class="hidden-sm-down">Your unsolved tickets</span></a>
              <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                <i class="fa fa-book mr-2">

              </i> <span class="hidden-sm-down">Unassigned tickets</span></a>
              <div class="collapse" id="menu3">
                  <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
                  <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
                  <div class="collapse" id="menu3sub2">
                      <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                      <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                      <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
                  </div>
                  <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
              </div>
              <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-ticket mr-2"></i> <span class="hidden-sm-down">New Tickets</span></a>
              <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-list mr-2"></i> <span class="hidden-sm-down">Recently updated tickets</span></a>
              <a [routerLink]="['/allTickets']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}"
               class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-clock-o mr-2"></i> <span class="hidden-sm-down">All tickets</span></a>
              <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-th mr-2"></i> <span class="hidden-sm-down">Link</span></a>
              <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-gear mr-2"></i> <span class="hidden-sm-down">Link</span></a>
          </div>
      </div>
      <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
          <a href="#sidebar" class="sidebartoggle" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
          <hr>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Bug Report Management</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          <div class="page-header">
            <div class="row">
              <div class="col-lg-3">
                  <div class="card">
                      <div class="stat-widget-two">
                          <div class="stat-content">
                              <div class="stat-text text-success">Task Completed </div>
                              <div class="stat-digit"> <i class="fa fa-ticket"></i>8</div>
                          </div>
                          <div class="progress">
                              <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card">
                      <div class="stat-widget-two">
                          <div class="stat-content">
                              <div class="stat-text text-primary">New Tickets</div>
                              <div class="stat-digit"> <i class="fa fa-ticket"></i>7</div>
                          </div>
                          <div class="progress">
                              <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card">
                      <div class="stat-widget-two">
                          <div class="stat-content">
                              <div class="stat-text text-warning">Pending Tickets</div>
                              <div class="stat-digit"> <i class="fa fa-tasks"></i> 5</div>
                          </div>
                          <div class="progress">
                              <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card">
                      <div class="stat-widget-two">
                          <div class="stat-content">
                              <div class="stat-text text-danger">Unsolved Tickets</div>
                              <div class="stat-digit"> <i class="fa fa-ticket"></i>6</div>
                          </div>
                          <div class="progress">
                              <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>
                  </div>
                  <!-- /# card -->
              </div>
              <!-- /# column -->
          </div>
              <section class="main-container">
                <router-outlet></router-outlet>               
              </section>
          </div>          
      </main>
  </div>
</div>